<!DOCTYPE html>
<html>
    <head>
        <title>The Game</title>
    </head>

    <body>
        <form action="/madlib">
            <label>Alright let's play madlibs!
                <br>
                Type in a mood in lowercase.
                <br>
                Choose a specifc weather.
                <br>
                Select a couple cars you would like to drive.
                <br>
                Then, select a person, color, noun, and 
                adjective from the drop down menus. 
            </label>
            <br>
            <br>
            Mood:
            <input type="text" name="mood">
            <br>

            Weather:
            <input type="radio" name="weather" value="sunny">Sunny
            <input type="radio" name="weather" value="cloudy">Cloudy
            
            <br>
            Car:
            <input type="checkbox" name="car" value="Ford Escape">Ford Escape
            <input type="checkbox" name="car" value="Toyota Echo"> Toyota Echo
            <input type="checkbox" name="car" value="Mini Cooper">Mini Cooper
            <br>

            Person:
            <select name="person">
                <option value="Snoopy">Snoopy</option>
                <option value="Simba">Simba</option>
                <option value="Amy">Amy</option>
            </select>
            <br>
            Color:
            <select name="color">
                <option value="green">green</option>
                <option value="pink">pink</option>
                <option value="purple">purple</option>
            </select>
            <br>
            Noun:
            <select name="noun">
                <option value="table">table</option>
                <option value="remote">remote</option>
                <option value="mug">mug</option>
            </select>
            <br>
            Adjective:
            <select name="adjective">
                <option value="sweet">sweet</option>
                <option value="crazy">crazy</option>
                <option value="amy">cool</option>
            </select>
            <br>
            <br>
            When you're ready, click Submit!
            <br>
            <input type="submit">
        </form>

    </body>
</html>

<!-- that has a simple form that asks for a person, a color, a noun, and an adjective. How you choose to implement those inputs are up to you, but you should feel free to mix and match. (Hint: it might be fun to try one as a drop-down menu of choices). This new form should have the action /madlib. -->